[package]
name = "eigenix-cli"
version.workspace = true
authors.workspace = true
edition.workspace = true

[dependencies]
tokio.workspace = true
anyhow.workspace = true
clap = { version = "4", features = ["derive"] }
